<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
>
	
<?define NetFx480MinRelease = 528033 ?>

	<!--<Product Id="{1985D6DB-AC4E-41A2-AD05-125FE70C4323}" Name="DS Client 1.10"-->
	<Product Id="{1985D6DB-AC4E-41A2-AD05-125FE70C4352}" Name="DS Client 1.10"
    	   Language="1033" Version="10.12.352"
           Manufacturer="Georgian Microsystems" 
           UpgradeCode="{6E1BD2B1-8686-48DC-80F9-D9D02B01385D}"
   >

		<!--1.8 Legacy -->
		<!--UpgradeCode="{71E6FFB2-FF79-447E-84BA-0B2882FDCCF8}"--> 

		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" Platform="x86" InstallPrivileges="elevated"
             Description="(DS) Document Storage Client 1.10"
             Manufacturer="Georgian Microsystems"
			 AdminImage="no"
             ReadOnly="no"
        />
 
    
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

 
  <Condition Message="[ProductName] Requires .NET Framework 4.8.0 or later to be installed. Please install from the `Pre-Reqs` folder.">
    <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED]]>
  </Condition>

  <MediaTemplate  EmbedCab="yes"   />
    <!--<MediaTemplate  DiskPrompt="1" VolumeLabel="DISK1"  EmbedCab ="no"   />
    <Property Id="DiskPrompt" Value="[1]" />-->


    <Property Id="INSTALLDATABASE" Value="false"/>
    
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED" Value="1" />
    
    <Icon Id="theicon.ico" SourceFile="$(var.SourceDir)\icon\CodexNewDSIcon2.ico"/>
    <Property Id="ARPPRODUCTICON" Value="theicon.ico" />

  

 

 
    
    <!--<Property Id="ALLUSERS"><![CDATA[2]]></Property>-->
    
    <UI>
     <!--<DialogRef Id="FeaturesDlg"/>-->

      <UIRef Id="WixUI_FeatureTree" />
      
      <UIRef Id="WixUI_ErrorProgressText" />
    
    </UI>

		
		
   <WixVariable Id="WixUIDialogBmp" Value="Codex_Banner_Client.bmp"/>
   <WixVariable Id="WixUIBannerBmp" Value="CodexTopBanner.bmp" />
   <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
   <Property Id="WIXUI_INSTALLDIR"  Value="INSTALLDIR" />

		<!--Installation Sequence--><!--
	<InstallExecuteSequence>
   	  <Custom Action='CopyProfileFiles' After='InstallInitialize'>NOT Installed</Custom>
	</InstallExecuteSequence>-->

  <Feature Id="ProductFeature" Title="Codex DS 1.10 Client" Level="1" Display="expand">


    <Feature Id="Application" Title="Codex DS 1.10 Client" Level="1" Absent="disallow" ConfigurableDirectory="INSTALLDIR"  >
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

	<!--<Feature Id="f_base_profile" Title="base profile" Level="1" Absent="allow" ConfigurableDirectory="INSTALLDIR"  >
  	  <ComponentGroupRef Id="BASEPROFILEGROUP" />
	</Feature>-->

	  <!-- <Feature Id="f_profile_i" Title="Infrastructure department" Level="1" Absent="allow" ConfigurableDirectory="INSTALLDIR"  >
	  <ComponentGroupRef Id="INFRASTRUCTURE_PROFILE_GROUP" />
	 </Feature>

	  <Feature Id="f_profile_p" Title="Passenger Transportation department" Level="1" Absent="allow" ConfigurableDirectory="INSTALLDIR"  >
		  <ComponentGroupRef Id="PASSENGERGROUP" />
	  </Feature>

	  <Feature Id="f_profile_t" Title="Freight Forwarding Branch" Level="1" Absent="allow" ConfigurableDirectory="INSTALLDIR"  >
		  <ComponentGroupRef Id="TRANSPORTATION_PROFILE_GROUP" />
	  </Feature>-->


  </Feature>


  </Product>

  
  <Fragment>
    <!--<util:RegistrySearch Id="CurrentBuild"
                       Variable="CBNumber"
                       Root="HKLM"
                       Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                       Result="value" />-->

    <Condition Message="Codex DS 1.10 is supported on Windows 10 version 1903 (build 18362) or higher.">
      WindowsBuild &lt; 18362
    </Condition>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
	  <ComponentGroupRef Id="AppDS19"/>
	  <ComponentGroupRef Id="DSConfigs"/>
	  <ComponentRef Id="readme" />
	  <ComponentGroupRef Id="id_codexdsclient" />
	  <ComponentGroupRef Id="BASEPROFILEGROUP" />
	  <ComponentRef Id="cmp_baseprofile_dsprofile" />
		
		<!--<ComponentGroupRef Id="Infragistics221"/>-->
      <!--<ComponentGroupRef Id="TX31G"/>-->
    </ComponentGroup>
  </Fragment>

    
	<!--<Fragment>
		<CustomAction Id="CopyProfileFiles" ExeCommand="xcopy.exe $(sys.CURRENTDIR)\DS Client 110\PROFILES\*.* [PROFILES]" Directory="INSTALLDIR" Impersonate="no"  Execute="deferred" Return="asyncWait" />
	</Fragment>-->



  
  
</Wix>