<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
  
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id='DesktopFolder'/>
        
        <Directory Id="FontsFolder" />
        
        <Directory Id="ProgramMenuFolder">
          
            <Directory Id="DSClientMenu" Name="DS Client 1.10"/>
          
        </Directory>

        <Directory Id="ProgramFilesFolder">
          
            <Directory Id="INSTALLDIR" Name="DS Client 110">
				<Directory Id="PDFIUMX86" Name="x86"/>
				<Directory Id="PDFIUMX64" Name="x64"/>
            </Directory>

			<Directory Id="PROFILES" Name="PROFILES">
				<Directory Id="BASEPROFILE" Name="BASEPROFILE"/>

			</Directory>
					   
         </Directory>

        
      </Directory>
 
  </Fragment>
</Wix>