<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLDIR">

		
			<Component Id="cmp_dsstaticdata" Guid="{B7EF7F12-EFCC-4C2C-91F2-75B112DDA339}">
				<File Id="file_dsstaticdata" KeyPath="no" Source="$(var.SourceDirApp)\dsstaticdata.json" />
			</Component>

		
			<Component Id="cmp_ds_exe_config" Guid="{5BC16685-C30D-4A91-A37D-B2EDE7488674}">
				<File Id="file_ds_exe_config" KeyPath="no" Source="$(var.SourceDirApp)\DSClient.exe.config" />
			</Component>
		
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="DSConfigs">
			<ComponentRef Id="cmp_dsstaticdata"/>
			<ComponentRef Id="cmp_ds_exe_config" />
		</ComponentGroup>

	</Fragment>
	
</Wix>